.Banner {
    background: url("img/kantor.JPG") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    margin: auto;
    height: 100px;
    color: #fff;
    background-color: darkorange;
    padding-bottom: 30px;
}

.lingkaran i {
    position: relative;
    top: 18px;

}

.bgrsub {
    background: rgb(255, 187, 0);
    display: inline-block;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    border: 5px solid rgb(255, 187, 0);
    box-shadow: 1px 2px 8px rgba(150, 150, 150, 0.65);;
}

.bgr {
    background: darkorange;
    display: inline-block;
    border-radius: 30px;
    width: 900px;
    height: 60px;
    border: 5px solid darkorange;
    box-shadow: 1px 2px 8px rgba(150, 150, 150, 0.65);;
}

.txt{
  color  : #fff;
}

.Bungkus-Produk {
  background-color: darkorange;
  opacity: 60px;
}

.Banner2 {
    background-color: darkorange;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fff;
}

.Banner3 {
    background-color:rgb(37, 37, 37);
    padding-top: 0,1%;
    padding-bottom: 0,1%;
    color: #fff;
}

.Banner3 i {
    color:dimgray;
}

.cardd{
    margin-left: auto;
    margin-right: auto ;
}

.logo-wa {
    width: 10px;
    height: 10px;
}

.tombol-simulasi{
    margin: auto;
}