.bannerp {
    background: url("img/pinjaman.jpg") no-repeat center center;
    background-size: cover;
    margin-top: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.Banner {
    background: url("img/kantor.JPG") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    margin: auto;
    height: 100px;
    color: #fff;
    background-color: darkorange;
    padding-bottom: 30px;
}

.lingkaran i {
    position: relative;
    top: 18px;

}


.bgrsub {
    background: rgb(255, 187, 0);
    display: inline-block;
    border-radius: 30px;
    border: 5px solid rgb(255, 187, 0);
    box-shadow: 1px 2px 8px rgba(150, 150, 150, 0.65);;
}

.bgr {
    background: darkorange;
    display: inline-block;
    border-radius: 30px;
    border: 5px solid darkorange;
    box-shadow: 1px 2px 8px rgba(150, 150, 150, 0.65);;
}

.txt{
  color  : #fff;
}

.Bungkus-Produk {
  background-color: darkorange;
  opacity: 60px;
}

.Banner2 {
    background-color: darkorange;
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 5%;
    color: #fff;
}

.Banner3 {
    background-color:rgb(37, 37, 37);
    padding-top: 0,1%;
    padding-bottom: 0,1%;
    color: #fff;
}

.Banner3 i {
    color:dimgray;
}

.cardd{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:inline-flex;
}

.logo-wa {
    width: 10px;
    height: 10px;
}

.tombol-simulasi{
    margin: auto;
}

.angsuran{
    width: 100%;
    max-width: 800px;
    height: auto;
}

.tombol-pengajuan {
   padding-left: auto;
   padding-right: auto;
   margin-left: 150px;
}

form .button{
    height: 45px;
    margin: 35px 0
  }
  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #00a108, #0097a1);
  }
  form .button input:hover{
   /* transform: scale(0.99); */
   background: linear-gradient(-135deg, #128503, #128503);
   }
  @media(max-width: 584px){
  .container{
   max-width: 100%;
 }
}
